* {
    box-sizing: border-box;
  }

body {
    font-family: 'Montserrat', sans-serif;
    color: #093868     ;
}

.header {
    height: 100px;
}

.header-logo {
    width: 110px;
    float: left;
}

.header-list-ul {
    float: right;
    padding: 40px 0;
}
.header-list-ul li {
    display: inline;
}

.header-list-ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 800;
    color: #093868;
    padding: 45px 30px;
}

.header-list-ul:hover {
    color: #fff;
}

.header-list-ul li a:hover {
    background-color: #093868;
    font-weight: 900;
    color: #fff;
}

.slide {
    background-image: url('../img/home-page-slide.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    min-height: 800px;
    height: 100%;
    color: #fff;
    text-align: center;
}

.slogan {
    text-transform: uppercase;
    font-size: 80px;
    font-weight: 700;
    padding-top: 360px;
}

.highlight {
    font-size: 20px;
    padding: 10px 200px;
    letter-spacing: 3px;
    line-height: 25px;
}

.services {
    width: 100%;
    padding: 30px 0;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background-color: #093868;
    /* border-bottom: 1px solid #fff ; */
}

.care {
    float: left;
    width: 33.33%;
    padding: 100px 10px;
    text-align: center;
    line-height: 1.8;
    letter-spacing: 3px;
}

/* Clear floats after the columns */
.care:after {
    content: "";
    display: table;
    clear: both;
  }

  .care-title {
      text-transform: uppercase;
      padding: 20px;
      font-weight: 900;
      font-size: 20px;
  }

  .care:nth-child(odd){
      color: #fff;
      background-color: #093868;
  }

  /* .care:hover:nth-child(odd){
    color: #093868;
    background-color: #fff;
    cursor: pointer;
  }

  .care:hover:nth-child(even){
    color: #fff;
    background-color: #093868;
    cursor: pointer;
   } */